body{
  margin:0;
  font-family:Arial;
}

/* Navigation */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#2c3e50;
  color:white;
}

.menu a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

/* Hero slider */

.hero{
  position:relative;
  height:500px;
  overflow:hidden;
}

.hero img{
  width:100%;
  height:100%;
  object-fit:cover;

  /* fade transition */
  opacity:1;
  transition: opacity 0.8s ease-in-out;
}

/* fade class */

.fade{
  opacity:0;
}

/* hero text */

.hero-text{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:white;
}

.hero-text h1{
  font-size:50px;
}

.btn{
  padding:12px 25px;
  background:#3498db;
  border:none;
  color:white;
  cursor:pointer;
  margin-top:10px;
}

/* About section */

.about{
  text-align:center;
  padding:50px;
}